@font-face {
  font-family: "Sansita-Regular";
  src: url("/fonts/Sansita-Regular.otf");
}

section {
  height: 20em;
  position: relative;
}
h1 {
  font-family: "Sansita-Regular", sans-serif;
  font-size: 3em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
